<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exercise Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Title-->
      <ion-icon size="large" name="document-outline"></ion-icon>
      <ion-title size="large" class="title">Exercise Log</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card *ngFor="let item of sortedWorkouLogs;">
      <ion-card-header>
        <ion-title>{{item.WorkoutDate}}</ion-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
        <ion-item *ngFor="let innerItem of item.WorkoutLogged;">
          <ion-thumbnail slot="start">
            <ion-img size="small" [src]="innerItem.BodyPartImagePath" class="game-img"></ion-img>
          </ion-thumbnail>
          <ion-label class="list-label">{{innerItem.Title}}</ion-label>
        </ion-item>
      </ion-list>
      </ion-card-content>
      
  </ion-card>

</ion-content>

