<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Family Members
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Title-->
      <ion-title size="large">Family Members</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List my favorite Family Members -->
  <ion-list>
    <ion-item *ngFor="let item of itemList;">
      <ion-icon name="caret-forward-circle-outline"></ion-icon>
      <ion-label class="list-label">{{item}}</ion-label>
    </ion-item>

    <!-- Add new Family Member button -->
    <ion-item>
      <ion-button *ngIf="!isAddingNewItem" color="primary" (click)="onEnableAdd()">Add New Game</ion-button>
      <input *ngIf="isAddingNewItem" type="text" [(ngModel)]="newValue" />
      <ion-button *ngIf="isAddingNewItem" color="primary" (click)="onAddNew()">Done</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
