<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Title-->
      <ion-icon size="large" name="american-football-outline"></ion-icon>
      <ion-title size="large" class="title">Games</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List my favorite games -->
  <ion-list>
    <ion-item *ngFor="let item of itemList;" class="list-item">
      <!-- <ion-icon name="caret-forward-circle-outline"></ion-icon> -->
      <ion-thumbnail slot="start">
        <ion-img size="small" [src]="item.Url" class="game-img"></ion-img>
      </ion-thumbnail>
      <ion-label class="list-label">{{item.GameTitle}}</ion-label>
    </ion-item>

    <!-- Add new game button -->
    <ion-item>
      <ion-button *ngIf="!isAddingNewItem" color="primary" (click)="onEnableAdd()">Add New Game</ion-button>
      <ion-list *ngIf="isAddingNewItem">
        <ion-item>
          <input type="text" [(ngModel)]="newName" placeholder="Name of game" />
        </ion-item>
        <ion-item>
          <input type="text" [(ngModel)]="newUrl" placeholder="URL to cover image" />
        </ion-item>
        <ion-item>
          <ion-button color="primary" (click)="onAddNew()">Insert New Game</ion-button>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>

</ion-content>