<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Title-->
      <ion-title size="large">Games</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List my favorite games -->
  <ion-list>
    <ion-item *ngFor="let game of gamesList;">
      <ion-icon name="caret-forward-circle-outline"></ion-icon>
      <ion-label class="list-label">{{game}}</ion-label>
    </ion-item>

    <!-- Add new game button -->
    <ion-item>
      <ion-button *ngIf="!isAddingNewGame" color="primary" (click)="onEnableAdd()">Add New Game</ion-button>
      <input *ngIf="isAddingNewGame" type="text" [(ngModel)]="newValue" />
      <ion-button *ngIf="isAddingNewGame" color="primary" (click)="onAddNew()">Done</ion-button>
    </ion-item>
  </ion-list>

</ion-content>